
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;      
  background-image: url('/assets/Background_Intro.png'); 
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  width: 100%;
  height: 750px;

  #primary {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 1040px;
      height: 447px;
      margin-top: 128px;
  
      .first {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;        
          width: 680px;
          height: 327px;
          margin: 0 auto 80px;
  
          h2 {
              font: var(--text-subtitle);
              color: var(--base-color-gray-500);
              span {
                  color:var(--primary-color-blue);
              }            
          }
          
          h1 {
              font: var(--text-lg);
              color: var(--base-color-gray-600);
              margin-top: 8px;
          }
  
          p {  
              font: var(--txt-sm);
              color: var(--base-color-gray-400);                
          }
  
          .image-container {
              margin-bottom: 56px;
          }
  
          img:nth-child(1) {            
              max-width: 100%; 
              height: auto; 
              border-radius: 50%; 
              margin-bottom: 20px;
              top: 10px;
              left: 280px;
              width: 96px;
              height: 95px;
              padding: 4px;
              border: 2px solid var(--primary-color-blue);
              object-fit: cover;
          }
        
          img:nth-child(2) {   
              position: relative;         
              top: -9px;
              left: -34px;
              width: 32px;
              height: 32px;
              margin-top: 5px;
              padding: 4px;
              object-fit: cover;
              border: none;
          }
  
          > div:nth-of-type(2) {   
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;                  
              width: 100%;              
  
              p {
                  font: var(--txt-sm);
                  color: var(--base-color-gray-400);  
                  text-align: center;
                  margin-top:20px;
              }
          }
      }
  
      .second {
          display: flex;    
          flex-direction: row;
          align-items: flex-start;
          padding: 0px;
          gap: 16px;
          
          width: 754px;
          height: 40px;
  
          nav {
              display: flex;    
              flex-wrap: wrap; 
              justify-content: center;  
              width: 754px;
              height: 40px;
              line-height: 0;
            }
  
          nav a {              
              display: flex;   
              align-items: flex-end;  
              margin: 5px 5px; 
              font: var(--txt-md);  
              height: 40px;   
              background-color: var(--base-color-gray-300);    
              padding: 8px 16px;
              border-radius: 40px;
  
              img {
                  width: 24px; 
                  height: auto;                 
                  margin-right: 4px; 
                  border: none;     
              }
  
              span {  
                  height: 22px;
                  border: none; 
                  margin-left: 4px;
                  color: var(--base-color-gray-500);
              }
          }
      } 
  }

  i {
      text-align: center;
      color: var(--base-color-gray-400);
      font-size: 32px;
      width: 100%;
      height: 86px;     
      margin-top: 86px;   
  }
}

